{{#d-modal-body id="frl-debug-modal" title=title}}

  <table class="table">
    <tbody>
      <tr>
        <td>{{i18n "flexible_rate_limits.debug_modal.table.senior"}}</td>
        <td>
          {{#if model.newUser}}
            {{d-icon "times" class="new-user"}}
          {{else}}
            {{d-icon "check" class="senior"}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>{{i18n "flexible_rate_limits.debug_modal.table.setting"}}</td>
        <td>{{model.data.setting}}</td>
      </tr>
      <tr>
        <td>{{i18n "flexible_rate_limits.debug_modal.table.limit"}}</td>
        <td>{{model.data.limit}}</td>
      </tr>
      <tr>
        <td>{{i18n "flexible_rate_limits.debug_modal.table.remaining"}}</td>
        <td>{{model.data.remaining}}</td>
      </tr>
    </tbody>
  </table>

{{/d-modal-body}}

<div class="modal-footer">
  <div class="frl-flex">

    {{d-button
      action="closeModal"
      icon="times"
      class="btn-large btn-primary"
      label="flexible_rate_limits.debug_modal.close"}}

    <div class="frl-flex-fill frl-flex-center">
      {{#if model.showCounter}}
        {{frl-clock wait=model.data.wait}}
      {{/if}}
    </div>

  </div>

</div>
