<h3>
  {{categoryGroup.name}}
</h3>

<div>
  {{d-button
    action="edit"
    icon="pencil"
  }}

  {{d-button
    action="delete"
    icon="times"
  }}
</div>

<h4>
  {{i18n "flexible_rate_limits.admin.group"}}
</h4>

<table class="table">
  <thead>
    <tr>
      <th>{{i18n "flexible_rate_limits.admin.group_name"}}</th>
      <th>{{i18n "flexible_rate_limits.admin.post_limit"}}</th>
      <th>{{i18n "flexible_rate_limits.admin.topic_limit"}}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each categoryGroup.groups as |group| }}
      <tr>
        <td>{{groupName groups group}}</td>
        <td>{{group.post_limit}}</td>
        <td>{{group.topic_limit}}</td>
        <td>
          {{d-button action=(action "removeGroup" group) icon="times"}}
          {{d-button action=(action "editGroup" group) icon="pencil"}}
        </td>
      </tr>
    {{/each}}

    <tr>
      <td>{{i18n "flexible_rate_limits.admin.default"}}</td>
      <td>{{categoryGroup.topic_limit}}</td>
      <td>{{categoryGroup.post_limit}}</td>
      <td></td>
    </tr>
  </tbody>
</table>

{{d-button
  action="addGroup"
  label="flexible_rate_limits.admin.add_group"
}}