{{#d-modal-body id="frl-edit-group-modal" title="flexible_rate_limits.admin.group"}}

  <table class="flr-table-modal">
    <tbody>
      <tr>
        <td class="frl-label">{{i18n "flexible_rate_limits.admin.group"}}</td>
        <td>
          <select onchange={{action (mut selectedGroupId) value="target.value" }}>
            <option value="">{{i18n "flexible_rate_limits.admin.select_group"}}</option>
            {{#if group.id}}
              <option value="{{group.id}}" selected={{if (eq group.id selectedGroupId) 'true'}}>{{groupName groups group.id}}</option>
            {{/if}}

            {{#each availableGroups as |g|}}
              <option value="{{g.id}}" selected={{if (eq g.id selectedGroupId) 'true'}}>{{groupName groups g.id}}</option>
            {{/each}}
          </select>
        </td>
      </tr>

      <tr>
        <td class="frl-label">{{i18n "flexible_rate_limits.admin.post_limit"}}</td>
        <td>{{input type="number" value=postLimit min=1}}</td>
      </tr>

      <tr>
        <td class="frl-label">{{i18n "flexible_rate_limits.admin.topic_limit"}}</td>
        <td>{{input type="number" value=topicLimit min=1}}</td>
      </tr>
    </tbody>
  </table>

{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    disabled=disabled
    action="save"
    class="btn-large btn-primary"
    label="flexible_rate_limits.admin.save"}}
</div>