<h2>{{i18n "flexible_rate_limits.admin.category_group"}}</h2>

<div class="category_groups">
  {{#each model.category_groups as |categoryGroup| }}

    {{frl-category-group
      editCategoryGroup=(action "editCategoryGroup")
      deleteCategoryGroup=(action "deleteCategoryGroup")
      categoryGroup=categoryGroup
      groups=model.groups
    }}

  {{/each}}
</div>

{{d-button
  action="addCategoryGroup"
  label="flexible_rate_limits.admin.add_category_group"
}}

<div class="flr-actions">
  {{d-button
    action="saveCategoryGroups"
    label="flexible_rate_limits.admin.save"
  }}

  {{d-button
    action="reload"
    label="flexible_rate_limits.admin.reload"
  }}
</div>