<div class="category_groups">
  {{#each model.category_groups as |categoryGroup| }}

    {{frl-category-group
      editCategoryGroup=(action "editCategoryGroup")
      deleteCategoryGroup=(action "deleteCategoryGroup")
      categoryGroup=categoryGroup
      groups=model.groups
      availableCategoryIds=availableCategoryIds
    }}

  {{/each}}
</div>

<div class="frl-actions">
  {{d-button
    action="addCategoryGroup"
    label="flexible_rate_limits.admin.add_category_group"
    icon="plus"
  }}
</div>

<div class="frl-actions">
  {{d-button
    action="saveCategoryGroups"
    label="flexible_rate_limits.admin.save"
    class="btn-primary"
    disabled=disableSave
    icon="save"
  }}

  {{d-button
    action="reload"
    label="flexible_rate_limits.admin.reload"
    class="btn-primary"
    icon="undo"
  }}
</div>

<div class="frl-global-rate-limits">
  <h3>{{I18n "flexible_rate_limits.admin.global_rate_limits"}}</h3>
  <table class="table">
    <tbody>
      {{#each model.site_settings as |setting| }}
        <tr>
          <td><strong>{{setting.name}}</strong></td>
          <td><strong>{{setting.value}}</strong></td>
          <td>{{setting.description}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>